@page
@model CreateLocalAccountModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.CreateLocalAccount;
}

    <div class="text-center">
        <h2>Set password</h2>
        <partial name="_StatusMessage" for="StatusMessage" />
        <div class="alert-info alert" role="alert">
            <p>
                After verifying your email address, you will be able to log in with your email address and password.
                You will still be able to log in with Google.
            </p>
        </div>
    </div>

<form id="set-password-form" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.NewPassword"></label>
        <input asp-for="Input.NewPassword" class="form-control" />
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Set password</button>

    @*<button class="btn btn-danger btn-block" type="submit">Delete my account</button>*@

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}