@page
@model DeleteAccountModel
@{
    ViewData["Title"] = "Delete account";
    ViewData["ActivePage"] = ManageNavPages.DeleteAccount;
}

<div class="text-center">
    <h2>Delete account</h2>

    <div class="alert alert-warning" role="alert">
        <p>
            <strong>This action will permanently remove your account, and your data cannot be recovered.</strong>
        </p>
    </div>
</div>
<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        <button class="btn btn-danger btn-block" type="submit">Delete my account</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}