@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <div>
        <p>
            Thank you for verifying your email.
        </p>
    </div>
</div>
