@page
@model ConfirmChangedEmailModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h1>@ViewData["Title"]</h1>
<div class="alert alert-success">
    <p>Thank you for confirming your new email address.</p>
</div>