@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="text-center">
    <h2 class="pb-4">Forgot your password</h2>
    <h4>Enter your email address.</h4>
</div>
<hr />
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
