@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="text-center pb-4">
    <h2>Log in</h2>
</div>
<hr />
<form id="account" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.RememberMe" class="control-label"></label><br />
        <input type="checkbox" asp-for="Input.RememberMe" class="form-control bigcheck" />
    </div>
    <div class="form-group pt-4 pb-4">
        <button type="submit" class="btn btn-primary btn-block">Log in</button>
    </div>
</form>
<div class="text-center pb-4">
    <p>
        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
    </p>
    <p>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
    </p>
    <p>
        <a asp-page="./ResendVerification">Resend verification email</a>
    </p>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
