@page
@model RotatingChores.Pages.AboutModel





@{
    ViewData["Title"] = "About RoratingChores";
}

<div class="text-center">
    <h2>About</h2>
    <a asp-page="./Chores/Index">All chores</a>
    <p>text here about how to use the website</p>
</div>