@page
@model RotatingChores.Pages.AboutModel

@{
    ViewData["Title"] = "About RevolvingChores";
}

<div class="text-center">
    <h1>About</h1>
    <a asp-page="./Chores/Index">All chores</a>
</div>
<div class="pt-4">
    <p class="about-text">
        RevolvingChores is a simple, web-based application designed to help manage the
        recurring tasks of everyday life. <a asp-page="./Chores/Create">Create your personalized chores</a> , and
        RevolvingChores will sort them by how often they need to be done and how important they are.
    </p>
    <hr />
    <p class="about-text">
        <a asp-page="./Chores/Index">Your sorted list of chores</a> includes icons that highlight certain chores:
    </p>
    <table class="ml-5">
        <tbody>
            <tr>
                <td class="pr-4">
                    <i aria-hidden="true" title="Star Icon" class="fas fa-star"></i>
                    <span class="sr-only">Star Icon</span>
                </td>
                <td>
                    High-priority chore
                </td>
            </tr>
            <tr>
                <td>
                    <i aria-hidden="true" title="Exlamation Icon" class="fas fa-exclamation"></i>
                    <span class="sr-only">Exclamation Icon</span>
                </td>
                <td>
                    Chore due today
                </td>
            </tr>
            <tr>
                <td>
                    <i aria-hidden="true" title="Double Exclamation Icon" class="fas fa-exclamation"></i>
                    <i aria-hidden="true" class="fas fa-exclamation"></i>
                    <span class="sr-only">Double Exclamation Icon</span>
                </td>
                <td>
                    Chore past due
                </td>
            </tr>
        </tbody>
    </table>
    <hr />


    @*only show this part if the user is not signed in*@
    @if (!Model.IsSignedIn)
    {
        <p class="about-text">
            To get started <a asp-area="Identity" asp-page="Account/Register">register as a new user, using an email address</a>.
            or <a asp-area="Identity" asp-page="Account/Login">log in</a> immediately with Google.
        </p>
        <p class="about-text">
            Already a RevolvingChores user? <a asp-area="Identity" asp-page="Account/Login">Log in</a> to get started.
        </p>
    }
    else
    {
        if (!Model.FoundAChore)
        {
            @*only show this if user is signed in and has no chores*@
            <p class="about-text">
                To get started <a asp-page="./Chores/Create">create your first chore</a>.
            </p>
        }
    }
</div>
