@page
@model RotatingChores.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Us</h1>
<p>
    If you need help, have comments or suggestions, or want to report a bug, email us at admin@rotatingchores.com.
</p>

