@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Welcome</h2>
    <a asp-page="./Chores/Index">All chores</a>
    <p>text here about how to use the website</p>
</div>



