@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*user should never actually see this page, but be redirected to the chores index page*@

<div class="text-center">    
    <a asp-page="./Chores/Index">All chores</a>
</div>



