/*cindy's css*/
.container {
    max-width: 600px;
}
.button-column {
    width: 3rem;
    text-align: left;
}
.name-column {    
    text-align: left;
}
.icon-column {
    width: 5rem;
    text-align: right;
}
.bigcheck {
    width: 40px;
}
.delete-btn {
    margin-top: 120px;
}
.about-text {
    font-size: larger;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
.right-align-cell {
    text-align:right;
}
body {
    font-family: Tahoma;
    background-color: #FFFAF0;
}
.fa-edit {
    color: #a5899a;
}
.fa-trash-alt {
    color: #a5899a;
}
.fa-edit:hover {
    color: black;
}
.fa-trash-alt:hover {
    color: black;
}
.btn-primary {
    background-color: #a5899a;
    border: none;
}
.btn-primary:hover {
        background-color: black;
}
.btn-danger {
    background-color: #fee0e1;
    border: none;
    color: black;
}
a {
    color: #a5899a;    
}
a:hover {
        color: black;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: #a5899a;
}
a.text-dark:hover, a.text-dark:focus {
    color: #a5899a !important
}
.text-dark:hover {
    color: #a5899a !important
}
.alert-green {
    background-color: #eefee8;
    border: none;
}
.alert-red {
    background-color: #fee0e1;
}
.nav-pills .nav-link.active {
    background-color: #a5899a;
}




a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}



/* experimental */
#star-checkbox-label {
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#star-checkbox-label:focus-within {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
