@{
    if (!String.IsNullOrEmpty((string)TempData["SuccessMessage"]))
    {
        <div class="alert alert-success">
            <p>@TempData["SuccessMessage"]</p>
        </div>
    }

    if (!String.IsNullOrEmpty((string)TempData["InfoMessage"]))
    {
        <div class="alert alert-info">
            <p>@TempData["InfoMessage"]</p>
        </div>
    }

    if (!String.IsNullOrEmpty((string)TempData["DangerMessage"]))
    {
        <div class="alert alert-danger">
            <p>@TempData["DangerMessage"]</p>
        </div>
    }

    if (!String.IsNullOrEmpty((string)TempData["WarningMessage"]))
    {
        <div class="alert alert-warning">
            <p>@TempData["WarningMessage"]</p>
        </div>
    }
 }
