@page
@model RotatingChores.Pages.NewFolder.Chores.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Chore</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewChoreVM.Name" class="control-label"></label>
                <input asp-for="NewChoreVM.Name" class="form-control" />
                <span asp-validation-for="NewChoreVM.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewChoreVM.Description" class="control-label"></label>
                <input asp-for="NewChoreVM.Description" class="form-control" />
                <span asp-validation-for="NewChoreVM.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewChoreVM.DaysToRepeat" class="control-label"></label>
                <input asp-for="NewChoreVM.DaysToRepeat" class="form-control" />
                <span asp-validation-for="NewChoreVM.DaysToRepeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewChoreVM.DateLastCompleted" class="control-label"></label>
                <input asp-for="NewChoreVM.DateLastCompleted" class="form-control" />
                <span asp-validation-for="NewChoreVM.DateLastCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewChoreVM.Priority" class="control-label"></label>
                <input asp-for="NewChoreVM.Priority" class="form-control" />
                <span asp-validation-for="NewChoreVM.Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
