@page
@model RotatingChores.Pages.Chores.CreateModel
@using RotatingChores.Helpers;

@{

    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h2>Create new chore</h2>
    <a asp-page="Index">All chores</a>
</div>
<hr />

<partial name="_CreateEditPartial" model="Model.Chore" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#date").datepicker({
                orientation: "bottom",
                todayBtn: "linked"
            });
        });
    </script>
}