@page
@model RotatingChores.Pages.Chores.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete '@Model.Chore.Name' chore?</h3>
<div>
    <hr />    
    <form method="post">
        <input type="hidden" asp-for="Chore.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
