@page
@model RotatingChores.Pages.Chores.DeleteModel

@{
    ViewData["Title"] = "Delete Chore";
}


<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div id="form-container" class="col-xl-4 col-lg-6 col-sm-8 col-12">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Are you sure you want to delete '@Model.Chore.Name' chore?</label>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Chore.ID" />
                <input type="submit" value="Delete" class="btn btn-danger" /> 
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
