@page
@model RotatingChores.Pages.Chores.EditModel
@using RotatingChores.Helpers;

@{
    ViewData["Title"] = "Edit Chore";
}

<h1>@ViewData["Title"]</h1>
<hr />

<partial name="_CreateEditPartial" model="Model.Chore" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#date").datepicker({
                orientation: "bottom",
                todayBtn: "linked"
            });
        });
    </script>
}
