@page
@model RotatingChores.Pages.Chores.EditModel
@using RotatingChores.Helpers;

@{
    ViewData["Title"] = "Edit Chore";
}

<div class="text-center">
    <h2>Edit Chore</h2>
    <a asp-page="Index" class="">All chores</a>
</div>
<hr />

<partial name="_CreateEditPartial" model="Model.Chore" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#date").datepicker({
                orientation: "bottom",
                todayBtn: "linked"
            });
        });
    </script>
}
